
<div class='row'>
    <div class="col-md-6 offset-3">
        <div class="thread">
            <h4>Judul Dari Thread </h4>

            <div class="meta">
                19 November | Oleh : Aang Jalaludin
            </div>

            <div class="content">
                Konten Pertama Yang telah dibuat menggunakan Bootstrap Apabila ada kesulitan silahkan berfikir
            </div>

            <div class="count">
                10 Obrolan
                
            </div>
            <div style="clear: both"></div>

        </div>
          <div class="thread">
            <h4>Judul Dari Thread </h4>

            <div class="meta">
                19 November | Oleh : Aang Jalaludin
            </div>

            <div class="content">
                Konten Pertama Yang telah dibuat menggunakan Bootstrap Apabila ada kesulitan silahkan berfikir
            </div>

            <div class="count">
                10 Obrolan
            </div>
            <div style="clear: both"></div>
    </div>
</div>
